body{
    text-align: left;
    font-family: 'Times New Roman', Times, serif; 
    background-color: aliceblue;
}

 
  

.item {
display: inline-block;
margin: 4px; 
max-width: 4%;
height: 5%;
margin-right: 2px;
align-items: end;
 

}
h2{
    letter-spacing: 2px;
}


.lori {
    width: 170px;
    height: 10%;
    
    
}
.container{
    display: flex;
}
.container .left {
    margin-left: -30rem;
    margin-right: 5rem ;
    text-align: right;
}
.container .left h2{
    margin-top: 2.5rem;

   
}
.container .left p{
    color: gray;
   line-height: 2rem;
}
.container .left h4{
    color: gray;
   line-height: 2rem;
}
.container .right {

    margin-right: 5rem ;
    
}
.container .right h4, h5, ul{
    margin-top: -1rem;

}
.container .right .chef {
    margin-left: -1rem;
}
.container .right p, ul, h4{
    color: gray;
}
.container .right h5{
    color: rgb(67, 65, 65);
}
.container .right .exp{
    margin-left: -2rem;
    margin-top: 1rem;
}
.container .right h1{
    font-size: 1.8rem;
}
.container .right .chef{
    margin-left: 0.1rem;
}
.container .right ul{
    margin-left: -1.5rem;
}
.container .right hr {
    color: black;
}